<html>
<center>
   <h1> The hostname of this webserver is {{ ansible_hostname }}</h1>
   <h3> It is running on {{ ansible_os_family}}system </h3>
   </br>
   <h4>Ansible has done its job</h4>
   <h>ran by Juan Vidal Luis</h>
</center>
</html>

